.title {
  margin: 2rem 0;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}
.stock-container {
  padding: 4rem 0;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.stock {
  width: 45%;
  padding: 1rem;
}

@media screen and (min-width: 1250px) {
  .stock-container {
    width: 70%;
  }
  .stock {
    width: 50%;
  }
}

@media screen and (min-width: 1750px) {
  .stock-container {
    width: 75%;
  }
  .stock {
    width: 33%;
  }
}
