.title {
  margin: 2rem 0;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}
.stock-container {
  padding: 4rem 0;
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.stock {
  width: 50%;
  padding: 1rem;
}
