<div class="card">
  <div class="top">
    <div class="top-left">
      <div class="symbol">
        <p>{{ stock.symbol }}</p>
      </div>
      <div class="company-name">
        <p>{{ stock.companyName }}</p>
      </div>
    </div>
    <div>
      <div class="remove-btn" (click)="remove(stock.symbol)">
        <i class="gg-close"></i>
      </div>
    </div>
  </div>
  <div class="middle">
    <div>
      <div>
        <p>Change today:</p>
        <ng-template
          *ngIf="
            stock.changePercentage > 0;
            then positiveChangeBlock;
            else negativeChangeBlock
          "
        ></ng-template>
        <ng-template #positiveChangeBlock>
          <h6 class="change-percentage" [ngStyle]="{ color: 'green' }">
            +{{ stock.changePercentage | number: '1.0-2' }}
          </h6></ng-template
        >
        <ng-template #negativeChangeBlock>
          <h6 class="change-percentage" [ngStyle]="{ color: 'red' }">
            {{ stock.changePercentage | number: '1.0-2' }}
          </h6></ng-template
        >
      </div>
      <div>
        <p>Current price:</p>
        <h6 class="current-price">
          {{ stock.currentPrice | currency: 'USD' }}
        </h6>
      </div>
    </div>
    <div>
      <div>
        <p>Opening price:</p>
        <h6 class="opening-price">
          {{ stock.openingPrice | currency: 'USD' }}
        </h6>
      </div>
      <div>
        <p>High price:</p>
        <h6 class="high-price">{{ stock.highPrice | currency: 'USD' }}</h6>
      </div>
    </div>
    <div>
      <div class="logo">
        <ng-template
          *ngIf="stock.changePercentage > 0; then thenBlock; else elseBlock"
        >
        </ng-template>
        <ng-template #thenBlock>
          <img src="assets/increase.svg" />
        </ng-template>
        <ng-template #elseBlock>
          <img src="assets/decrease.svg" />
        </ng-template>
      </div>
    </div>
  </div>
  <div class="bottom">
    <a [routerLink]="['/sentiment', stock.symbol]">See sentiment details </a>
  </div>
</div>
