.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sentiment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  color: black;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-left {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.symbol {
  background: #8b80f9;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 1.5rem;
}

.company-name {
  color: #151515;
  font-size: 2.5rem;
  margin-left: 20px;
  font-weight: 600;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.back-btn {
  display: flex;
  cursor: pointer;
  color: #fff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
}

.back-btn a {
  color: #fff;
  text-decoration: none;
  margin-left: 0.5rem;
}
.back-btn a:hover {
  color: #9b9b9b;
}

.sentiment-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0 0 0;
}

.left h4 {
  font-size: 1.2rem;
}

.left .row {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0 0 0;
}
.left .row p {
  font-size: 0.9rem;
  font-weight: 500;
}
.left .row h6 {
  font-size: 1.3rem;
}

.logo {
  width: 100%;
  height: 6rem;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.logo img {
  width: 70%;
  height: 70%;
}

.separator {
  width: 2px;
  height: 6rem;
  background-color: #000;
  margin-left: 1rem;
}

.gg-arrow-left-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 4px;
}

.gg-arrow-left-r::after,
.gg-arrow-left-r::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 4px;
}

.gg-arrow-left-r::after {
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  bottom: 6px;
}

.gg-arrow-left-r::before {
  width: 10px;
  height: 2px;
  bottom: 8px;
  background: currentColor;
}
