.tracker-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tracker-input {
  border: 2px solid #151515;
  padding: 1.5rem 0 1.5rem 1rem;
  border-radius: 15px 0 0 15px;
  width: 40%;
  font-size: 1rem;
  background-color: #363636;
  color: #fff;
}
.tracker-input::placeholder {
  color: #ffffff30;
}
.tracker-input:focus-visible {
  border: 2px solid #fff;
  outline: none;
}

.tracker-btn {
  padding: 1.5rem 1rem 1.5rem 0;
  border-radius: 0 15px 15px 0;
  font-size: 1rem;
  font-weight: 600;
  width: 10%;
  background-color: #363636;
  color: #fff;
  border: 2px solid #fff;
}

.tracker-btn:disabled {
  border: 2px solid #151515;
  color: #ffffff30;
}
