/* Add application styles & imports to this file! */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS HEX */
/* --platinum: #E8E8E8ff;
--raisin-black: #181819;
--jet: #343438ff;
--tan-crayola: #E09465ff;
--neon-blue: #5D6BF4ff;
--mint: #46B580ff; */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #181819;
  color: #e8e8e8ff;
}
